.card-container {
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;
}

mat-card{
    padding: 10px;
    background: rgb(58, 77, 74);
}

.example-header-image{
    background-size: cover;
}

mat-card-footer{
    margin-left : 20px;
}

mat-card-content{
    padding: 10px;
}
.img{
    object-fit: cover;
}

.comment-card{
    margin-top: 20 px;
}

mat-form-field{
    width: 100%;
}